@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand&display=swap");

.App {
  font-family: "Patrick Hand", cursive;
}

body {
  font-family: "Patrick Hand", cursive;
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  background-size: cover;
  min-height: 100vh;
}

.below {
  color: white;
  text-align: center;
  margin-right: 425px;
  margin-top: -43px;
}

#git {
  text-decoration: none;
}
